<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Statistical-analysis-on-the-congruency-of-decay-chains-of-superheavy-nuclei" data-toc-modified-id="Statistical-analysis-on-the-congruency-of-decay-chains-of-superheavy-nuclei-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Statistical analysis on the congruency of decay chains of superheavy nuclei</a></span><ul class="toc-item"><li><span><a href="#Content" data-toc-modified-id="Content-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Content</a></span></li></ul></li><li><span><a href="#Examining-data---decay-chains" data-toc-modified-id="Examining-data---decay-chains-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining data - decay chains</a></span><ul class="toc-item"><li><span><a href="#Extracting-data-of-interest---lifetimes" data-toc-modified-id="Extracting-data-of-interest---lifetimes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Extracting data of interest - lifetimes</a></span></li><li><span><a href="#Motivation---Do-all-decay-chains-in-a-set-have-a-common-origin?" data-toc-modified-id="Motivation---Do-all-decay-chains-in-a-set-have-a-common-origin?-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Motivation - Do all decay chains in a set have a common origin?</a></span></li></ul></li><li><span><a href="#Schmidt-tests-on-the-set-of-short-E115-decay-chains" data-toc-modified-id="Schmidt-tests-on-the-set-of-short-E115-decay-chains-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Schmidt tests on the set of short E115 decay chains</a></span><ul class="toc-item"><li><span><a href="#The-Schmidt-test" data-toc-modified-id="The-Schmidt-test-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>The Schmidt test</a></span></li><li><span><a href="#Generalised-Schmidt-test" data-toc-modified-id="Generalised-Schmidt-test-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Generalised Schmidt test</a></span></li><li><span><a href="#The-generalised-Schmidt-method-applied" data-toc-modified-id="The-generalised-Schmidt-method-applied-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The generalised Schmidt method applied</a></span><ul class="toc-item"><li><span><a href="#Simulation-of-expected-values-and-confidence-intervals" data-toc-modified-id="Simulation-of-expected-values-and-confidence-intervals-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Simulation of expected values and confidence intervals</a></span></li></ul></li><li><span><a href="#Summary-Generalised-Schmidt-Method" data-toc-modified-id="Summary-Generalised-Schmidt-Method-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Summary Generalised Schmidt Method</a></span></li></ul></li></ul></div>

# Statistical analysis on the congruency of decay chains of superheavy nuclei

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Statistical-analysis-on-the-congruency-of-decay-chains-of-superheavy-nuclei" data-toc-modified-id="Statistical-analysis-on-the-congruency-of-decay-chains-of-superheavy-nuclei-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Statistical analysis on the congruency of decay chains of superheavy nuclei</a></span><ul class="toc-item"><li><span><a href="#Content" data-toc-modified-id="Content-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Content</a></span></li></ul></li><li><span><a href="#Examining-data---decay-chains" data-toc-modified-id="Examining-data---decay-chains-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining data - decay chains</a></span><ul class="toc-item"><li><span><a href="#Extracting-data-of-interest---lifetimes" data-toc-modified-id="Extracting-data-of-interest---lifetimes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Extracting data of interest - lifetimes</a></span></li><li><span><a href="#Motivation---Do-all-decay-chains-in-a-set-have-a-common-origin?" data-toc-modified-id="Motivation---Do-all-decay-chains-in-a-set-have-a-common-origin?-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Motivation - Do all decay chains in a set have a common origin?</a></span></li></ul></li><li><span><a href="#Schmidt-tests-on-the-set-of-short-E115-decay-chains" data-toc-modified-id="Schmidt-tests-on-the-set-of-short-E115-decay-chains-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Schmidt tests on the set of short E115 decay chains</a></span><ul class="toc-item"><li><span><a href="#The-Schmidt-test" data-toc-modified-id="The-Schmidt-test-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>The Schmidt test</a></span></li><li><span><a href="#Generalised-Schmidt-test" data-toc-modified-id="Generalised-Schmidt-test-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Generalised Schmidt test</a></span></li><li><span><a href="#The-generalised-Schmidt-method-applied" data-toc-modified-id="The-generalised-Schmidt-method-applied-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The generalised Schmidt method applied</a></span><ul class="toc-item"><li><span><a href="#Simulation-of-expected-values-and-confidence-intervals" data-toc-modified-id="Simulation-of-expected-values-and-confidence-intervals-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Simulation of expected values and confidence intervals</a></span></li></ul></li><li><span><a href="#Summary-Generalised-Schmidt-Method" data-toc-modified-id="Summary-Generalised-Schmidt-Method-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Summary Generalised Schmidt Method</a></span></li></ul></li></ul></div>

## Content

* Introduction to the notebook and a background to the analysis (motivate the need)
    * Include dispute and connection to naming? 
    * Present limitation to short chains. 
* Decay chains
    * What is a decay chain?
    * Representation here. 
    * Keep notation consistent with papers.
    * Files are yaml and here markdown table printing. 
* Problem formulation
    * The Schmidt test, its limitations and motivation for generalisation.
    * The generalised Schmidt test as proposed by Ulrika Forsberg.
    * Illustrate the need with an example. Could be two different origins and sampled data and compare the results. 
* Calculations
    * Reproducible tables from articles (markdowned), i.e. simply insert decay chain data into formulas.
    * Confidence limits from simulations (speed up?). 
    * Write data to file or just store final value? How to do this?
* Visualisations
    * What here?

In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

# Examining data - decay chains

A compiled table of all the short decay chains is presented in Table 1 in  [U. Forsberg et al., Physics Letters B](http://www.sciencedirect.com/science/article/pii/S0375947416300768?via%3Dihub).

All data relevant for the above mentioned articles has been compiled in a `pandas dataframe` and can be found in the file `data/ChainsDataFrame.p`. The data can be read and visualised in the following way:

In [2]:
df = pd.read_pickle('data/ChainsDataFrame.p')
df

                           Beam Energy (MeV)  Implantation Energy (MeV)  \
Element Type  Lab      ID
E115    3n    GSI      1               242.1                      13.40
                       2               242.1                      13.90
                       3               242.1                      16.30
                       4               242.1                      16.10
                       5               242.1                      16.40
                       6               242.1                      15.40
                       7               242.1                      14.10
                       8               242.1                      12.50
                       9               245.0                      15.90
                       10              245.0                      14.50
                       11              245.0                      16.50
                       12              245.0                      15.10
                       13              245.0                      15.30
                       14              245.0                      14.90
                       15              245.0                      17.20
                       16              245.0                      12.60
                       17              245.0                      16.30
                       18              245.0                      14.40
                       19              245.0                      14.90
                       20              245.0                      15.00
                       21              245.0                      15.10
                       22              245.0                      14.50
        Short GSI      1               245.0                      12.30
                       2               242.1                      16.20
                       3               242.1                      13.90
                       4               242.1                      14.50
                       5               242.1                      13.80
                       6               245.0                      14.50
                       7               245.0                      11.90
              Dubna    1               240.5                      11.38
...                                      ...                        ...
        3n    Berkeley 33                0.0                      13.59
                       34                0.0                       0.00
                       35                0.0                      10.19
                       36                0.0                      13.79
                       37                0.0                      11.93
                       38                0.0                      11.64
                       39                0.0                      14.55
                       40                0.0                      13.71
                       41                0.0                      12.30
                       42                0.0                      15.16
                       43                0.0                      12.10
        Short Berkeley 1               270.0                      11.65
                       2               270.0                      11.18
                       3               270.0                      13.72
E117    -     Dubna    1                 0.0                      11.89
                       2               252.0                      13.87
        Link  Dubna    3               245.0                      13.51
                       4               245.0                       9.96
                       5               245.0                       9.36
                       6                 0.0                       9.91
        -     Dubna    7                 0.0                      13.23
                       8                 0.0                      11.76
        Link  Dubna    9                 0.0                      68.00
                       10                0.0                       9.36
                       11                0.0                      12.36
                       12                0.0                      12.46
                       13                0.0                      11.45
                       14                0.0                      13.88
        -     Dubna    15                0.0                      17.16
                       16                0.0                      11.70

                           Implantation time (s)   Pixel  Energy E117 (MeV)  \
Element Type  Lab      ID
E115    3n    GSI      1                0.000000   465.0                NaN
                       2                0.000000   748.0                NaN
                       3                0.000000   557.0                NaN
                       4                0.000000   716.0                NaN
                       5                0.000000   331.0                NaN
                       6                0.000000   621.0                NaN
                       7                0.000000   368.0                NaN
                       8                0.000000   200.0                NaN
                       9                0.000000    38.0                NaN
                       10               0.000000  1007.0                NaN
                       11               0.000000    90.0                NaN
                       12               0.000000    44.0                NaN
                       13               0.000000   210.0                NaN
                       14               0.000000   465.0                NaN
                       15               0.000000   180.0                NaN
                       16               0.000000   203.0                NaN
                       17               0.000000   784.0                NaN
                       18               0.000000   236.0                NaN
                       19               0.000000   623.0                NaN
                       20               0.000000   842.0                NaN
                       21               0.000000    79.0                NaN
                       22               0.000000   536.0                NaN
        Short GSI      1                0.000000   268.0                NaN
                       2                0.000000   425.0                NaN
                       3                0.000000   681.0                NaN
                       4                0.000000   344.0                NaN
                       5                0.000000   554.0                NaN
                       6                0.000000   205.0                NaN
                       7                0.000000   128.0                NaN
              Dubna    1                0.000000     3.0                NaN
...                                          ...     ...                ...
        3n    Berkeley 33               0.000000     0.0                NaN
                       34               0.000000     0.0                NaN
                       35               0.000000     2.0                NaN
                       36               0.000000     0.0                NaN
                       37               0.000000     1.0                NaN
                       38               0.000000     0.0                NaN
                       39               0.000000     0.0                NaN
                       40               0.000000     2.0                NaN
                       41               0.000000     0.0                NaN
                       42               0.000000     2.0                NaN
                       43               0.000000     0.0                NaN
        Short Berkeley 1                0.000000     0.0                NaN
                       2                0.000000     1.0                NaN
                       3                0.000000     0.0                NaN
E117    -     Dubna    1                0.000000     0.0              0.000
                       2                0.000000     0.0              0.000
        Link  Dubna    3                0.000000     0.0             10.340
                       4                0.000000     0.0             10.250
                       5                0.000000     0.0             10.270
                       6                0.000000     0.0             10.370
        -     Dubna    7                0.000000     0.0             10.310
                       8                0.000000     0.0              0.000
        Link  Dubna    9                0.010547     0.0             10.198
                       10               0.000000     0.0             10.217
                       11               0.000000     0.0             10.690
                       12               0.000000     0.0             10.364
                       13               0.000000     0.0             10.279
                       14               0.000000     0.0             10.362
        -     Dubna    15               0.000000     0.0             10.145
                       16               0.000000     0.0              0.000

                           Energy E115 (MeV)  Energy E113 (MeV)  \
Element Type  Lab      ID
E115    3n    GSI      1              10.290              9.240
                       2              10.480             10.000
                       3               0.000              9.990
                       4              10.370              9.990
                       5              10.440             10.000
                       6               3.000              9.850
                       7              10.480              9.940
                       8               0.609              9.960
                       9              10.380              9.960
                       10              1.660              9.840
                       11             10.340              9.990
                       12             10.560              9.930
                       13              3.680              9.880
                       14             10.520             10.110
                       15             10.420              9.960
                       16             10.430              9.100
                       17              0.467             10.040
                       18              6.370              9.770
                       19             10.510             10.000
                       20             10.300              9.970
                       21             10.540              0.000
                       22              0.301              9.900
        Short GSI      1              10.510            242.000
                       2               1.450            211.000
                       3              10.540              9.950
                       4              10.340              9.890
                       5              10.490              9.970
                       6              10.530              9.890
                       7               0.541              3.120
              Dubna    1              10.377              9.886
...                                      ...                ...
        3n    Berkeley 33              1.990             10.000
                       34             10.600             10.000
                       35             10.490              9.960
                       36             10.420              0.000
                       37              0.000              9.970
                       38             10.670              9.990
                       39             10.400             10.010
                       40             10.450              0.480
                       41              0.000              0.000
                       42              0.000             10.160
                       43              0.000              9.980
        Short Berkeley 1              10.490              9.820
                       2              10.490            187.000
                       3              10.220            128.000
E117    -     Dubna    1               9.720            203.000
                       2               9.520            192.000
        Link  Dubna    3               9.710            205.000
                       4               9.790            189.000
                       5               9.480            194.000
                       6               9.857            204.000
        -     Dubna    7               0.000            222.000
                       8               9.631            212.800
        Link  Dubna    9               9.360            162.900
                       10              9.683            150.800
                       11              9.902            201.000
                       12              9.845            238.000
                       13              9.876              9.360
                       14              9.759              9.280
        -     Dubna    15              9.471            192.000
                       16              0.000            219.700

                           Energy Rg (MeV)  Energy Mt (MeV)  Energy Bh (MeV)  \
Element Type  Lab      ID
E115    3n    GSI      1              9.77            0.825             9.06
                       2              0.00            0.000             9.07
                       3              9.77            9.600             9.04
                       4              9.50            9.650             9.05
                       5              9.76            9.650             8.55
                       6              0.00            0.000             9.06
                       7              1.38            9.600             9.06
                       8              9.75            0.000             0.00
                       9              0.00            0.000             0.00
                       10             1.28            9.680             8.97
                       11             9.81            9.540             9.08
                       12             9.77            0.903             8.93
                       13             9.78            9.430             9.04
                       14             0.00            0.000             9.09
                       15             9.75            9.870             9.07
                       16             9.77            9.600             9.07
                       17             9.78            0.000             0.00
                       18             9.25            9.580             8.96
                       19             9.75            9.890             9.06
                       20             9.77            9.530             8.86
                       21             9.92            9.610             0.00
                       22             9.83            9.610             9.07
        Short GSI      1               NaN              NaN              NaN
                       2               NaN              NaN              NaN
                       3            196.00              NaN              NaN
                       4            218.00              NaN              NaN
                       5            135.00              NaN              NaN
                       6            230.00              NaN              NaN
                       7            230.00              NaN              NaN
              Dubna    1            215.70              NaN              NaN
...                                    ...              ...              ...
        3n    Berkeley 33             9.28            9.570             9.08
                       34             9.98            9.820             8.96
                       35             9.34            1.030             9.07
                       36             9.81            9.800             9.08
                       37             9.75            9.580             9.07
                       38             9.61            9.590             9.18
                       39             0.00            9.570             9.12
                       40             2.52            9.630             8.90
                       41             0.00            0.000             9.07
                       42             9.76            1.010             9.16
                       43             9.79            9.900             0.00
        Short Berkeley 1            107.00              NaN              NaN
                       2               NaN              NaN              NaN
                       3               NaN              NaN              NaN
E117    -     Dubna    1               NaN              NaN              NaN
                       2               NaN              NaN              NaN
        Link  Dubna    3               NaN              NaN              NaN
                       4               NaN              NaN              NaN
                       5               NaN              NaN              NaN
                       6               NaN              NaN              NaN
        -     Dubna    7               NaN              NaN              NaN
                       8               NaN              NaN              NaN
        Link  Dubna    9               NaN              NaN              NaN
                       10              NaN              NaN              NaN
                       11              NaN              NaN              NaN
                       12              NaN              NaN              NaN
                       13           182.00              NaN              NaN
                       14           229.70              NaN              NaN
        -     Dubna    15              NaN              NaN              NaN
                       16              NaN              NaN              NaN

                                ...         $\sigma_E$ Db (keV)  \
Element Type  Lab      ID       ...
E115    3n    GSI      1        ...                         0.0
                       2        ...                         0.0
                       3        ...                         0.0
                       4        ...                         0.0
                       5        ...                         0.0
                       6        ...                         0.0
                       7        ...                         0.0
                       8        ...                         0.0
                       9        ...                         0.0
                       10       ...                         0.0
                       11       ...                         0.0
                       12       ...                         0.0
                       13       ...                         0.0
                       14       ...                         0.0
                       15       ...                         0.0
                       16       ...                         0.0
                       17       ...                         0.0
                       18       ...                         0.0
                       19       ...                         0.0
                       20       ...                         0.0
                       21       ...                         0.0
                       22       ...                         0.0
        Short GSI      1        ...                         NaN
                       2        ...                         NaN
                       3        ...                         NaN
                       4        ...                         NaN
                       5        ...                         NaN
                       6        ...                         NaN
                       7        ...                         NaN

All rows of the compiled data table represents experimental measurements of one decay chain. Each decay chain is identified with the 4 indices:
1. **Lab**: Laboratory which conducted the experiment.
2. **Chain**: The element studied in the experiment.  
3. **Type**: For the element 115 chains the type refers to the groups _3n_, _4n_ or _Short_ chains as used in the papers. The 10 element 117 chains that are used in the third article have the type _Link_. 
4. **ID**: All chains have an ID which matches the numbers used in the articles.

The column headers present specific measured properties of the chain.

`NaN` could indicate that a certain step is missing, that the chain has already ended or that the value is irrelevant (e.g. this is the case for all columns listing E117 values for an E115 chain).   

A $\sigma_E$ value equals to 0 indicates a detected fission and end of chain.

## Extracting data of interest - lifetimes

In the context of this notebook it is of interest to e.g. extract lifetime data for the _short_ E115 chains. A new data frame with this content can be obtained as follows:

In [3]:
#How can I locate indices on the basis of only the second and third index colum (i.e. Lab and Element)?
#df1, df2, df3 = df.loc[('Dubna', 'E115', 'Short')], df.loc[('GSI', 'E115', 'Short')], df.loc[('Berkeley', 'E115', 'Short')]
#df_short = pd.concat([df1, df2, df3])
df_short = df.loc[('E115', 'Short')]
df_short

/home/anton/miniconda3/envs/ChainCongruency/lib/python3.6/site-packages/ipykernel_launcher.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  after removing the cwd from sys.path.

             Beam Energy (MeV)  Implantation Energy (MeV)  \
Lab      ID
GSI      1               245.0                      12.30
         2               242.1                      16.20
         3               242.1                      13.90
         4               242.1                      14.50
         5               242.1                      13.80
         6               245.0                      14.50
         7               245.0                      11.90
Dubna    1               240.5                      11.38
         2               241.0                      15.18
         3               241.0                       9.04
         4               241.0                      13.35
Berkeley 1               270.0                      11.65
         2               270.0                      11.18
         3               270.0                      13.72

             Implantation time (s)  Pixel  Energy E117 (MeV)  \
Lab      ID
GSI      1                     0.0  268.0                NaN
         2                     0.0  425.0                NaN
         3                     0.0  681.0                NaN
         4                     0.0  344.0                NaN
         5                     0.0  554.0                NaN
         6                     0.0  205.0                NaN
         7                     0.0  128.0                NaN
Dubna    1                     0.0    3.0                NaN
         2                     0.0    6.0                NaN
         3                     0.0    2.0                NaN
         4                     0.0   11.0                NaN
Berkeley 1                     0.0    0.0                NaN
         2                     0.0    1.0                NaN
         3                     0.0    0.0                NaN

             Energy E115 (MeV)  Energy E113 (MeV)  Energy Rg (MeV)  \
Lab      ID
GSI      1              10.510            242.000              NaN
         2               1.450            211.000              NaN
         3              10.540              9.950            196.0
         4              10.340              9.890            218.0
         5              10.490              9.970            135.0
         6              10.530              9.890            230.0
         7               0.541              3.120            230.0
Dubna    1              10.377              9.886            215.7
         2              10.540              9.916            214.9
         3              10.373              9.579            141.1
         4              10.292             10.178            182.2
Berkeley 1              10.490              9.820            107.0
         2              10.490            187.000              NaN
         3              10.220            128.000              NaN

             Energy Mt (MeV)  Energy Bh (MeV)       ...         \
Lab      ID                                         ...
GSI      1               NaN              NaN       ...
         2               NaN              NaN       ...
         3               NaN              NaN       ...
         4               NaN              NaN       ...
         5               NaN              NaN       ...
         6               NaN              NaN       ...
         7               NaN              NaN       ...
Dubna    1               NaN              NaN       ...
         2               NaN              NaN       ...
         3               NaN              NaN       ...
         4               NaN              NaN       ...
Berkeley 1               NaN              NaN       ...
         2               NaN              NaN       ...
         3               NaN              NaN       ...

             $\sigma_E$ Db (keV)  $\sigma_E$ Lr (keV)  Lifetime E117 (s)  \
Lab      ID
GSI      1                   NaN                  NaN                NaN
         2                   NaN                  NaN                NaN
         3                   NaN                  NaN                NaN
         4                   NaN                  NaN                NaN
         5                   NaN                  NaN                NaN
         6                   NaN                  NaN                NaN
         7                   NaN                  NaN                NaN
Dubna    1                   NaN                  NaN                NaN
         2                   NaN                  NaN                NaN
         3                   NaN                  NaN                NaN
         4                   NaN                  NaN                NaN
Berkeley 1                   NaN                  NaN                NaN
         2                   NaN                  NaN                NaN
         3                   NaN                  NaN                NaN

             Lifetime E115 (s)  Lifetime E113 (s)  Lifetime Rg (s)  \
Lab      ID
GSI      1              0.2270             0.3780              NaN
         2              0.0645             0.3660              NaN
         3              0.2610             1.1500           0.3430
         4              1.4600             0.0262           0.4320
         5              0.3450             0.3690          14.4000
         6              0.2100             1.0500           8.2700
         7              0.8150             2.3300           2.8900
Dubna    1              0.2562             1.4027           1.9775
         2              0.0661             1.5500           2.3638
         3              2.3507            22.5822          60.1855
         4              0.0536             0.4671           0.0908
Berkeley 1              0.2140             1.5400           7.5700
         2              0.0591             0.8240              NaN
         3              0.0455             0.0142              NaN

             Lifetime Mt (s)  Lifetime Bh (s)  Lifetime Db (s)  \
Lab      ID
GSI      1               NaN              NaN              NaN
         2               NaN              NaN              NaN
         3               NaN              NaN              NaN
         4               NaN              NaN              NaN
         5               NaN              NaN              NaN
         6               NaN              NaN              NaN
         7               NaN              NaN              NaN
Dubna    1               NaN              NaN              NaN
         2               NaN              NaN              NaN
         3               NaN              NaN              NaN
         4               NaN              NaN              NaN
Berkeley 1               NaN              NaN              NaN
         2               NaN              NaN              NaN
         3               NaN              NaN              NaN

             Lifetime Lr (s)
Lab      ID
GSI      1               NaN
         2               NaN
         3               NaN
         4               NaN
         5               NaN
         6               NaN
         7               NaN
Dubna    1               NaN
         2               NaN
         3               NaN
         4               NaN
Berkeley 1               NaN
         2               NaN
         3               NaN

[14 rows x 28 columns]

Extracting only the columns with lifetimes.

In [4]:
s_find = "Lifetime .* \(s\)"
col_names = ",".join(df_short.columns)
print("Columns:", col_names)
col_found = re.findall(string=col_names, pattern=s_find)[0].split(',')
col_found

Columns: Beam Energy (MeV),Implantation Energy (MeV),Implantation time (s),Pixel,Energy E117 (MeV),Energy E115 (MeV),Energy E113 (MeV),Energy Rg (MeV),Energy Mt (MeV),Energy Bh (MeV),Energy Db (MeV),Energy Lr (MeV),$\sigma_E$ E117 (keV),$\sigma_E$ E115 (keV),$\sigma_E$ E113 (keV),$\sigma_E$ Rg (keV),$\sigma_E$ Mt (keV),$\sigma_E$ Bh (keV),$\sigma_E$ Db (keV),$\sigma_E$ Lr (keV),Lifetime E117 (s),Lifetime E115 (s),Lifetime E113 (s),Lifetime Rg (s),Lifetime Mt (s),Lifetime Bh (s),Lifetime Db (s),Lifetime Lr (s)

['Lifetime E117 (s)',
 'Lifetime E115 (s)',
 'Lifetime E113 (s)',
 'Lifetime Rg (s)',
 'Lifetime Mt (s)',
 'Lifetime Bh (s)',
 'Lifetime Db (s)',
 'Lifetime Lr (s)']

In [5]:
df_short = df_short.loc[:, col_found]
df_short

             Lifetime E117 (s)  Lifetime E115 (s)  Lifetime E113 (s)  \
Lab      ID
GSI      1                 NaN             0.2270             0.3780
         2                 NaN             0.0645             0.3660
         3                 NaN             0.2610             1.1500
         4                 NaN             1.4600             0.0262
         5                 NaN             0.3450             0.3690
         6                 NaN             0.2100             1.0500
         7                 NaN             0.8150             2.3300
Dubna    1                 NaN             0.2562             1.4027
         2                 NaN             0.0661             1.5500
         3                 NaN             2.3507            22.5822
         4                 NaN             0.0536             0.4671
Berkeley 1                 NaN             0.2140             1.5400
         2                 NaN             0.0591             0.8240
         3                 NaN             0.0455             0.0142

             Lifetime Rg (s)  Lifetime Mt (s)  Lifetime Bh (s)  \
Lab      ID
GSI      1               NaN              NaN              NaN
         2               NaN              NaN              NaN
         3            0.3430              NaN              NaN
         4            0.4320              NaN              NaN
         5           14.4000              NaN              NaN
         6            8.2700              NaN              NaN
         7            2.8900              NaN              NaN
Dubna    1            1.9775              NaN              NaN
         2            2.3638              NaN              NaN
         3           60.1855              NaN              NaN
         4            0.0908              NaN              NaN
Berkeley 1            7.5700              NaN              NaN
         2               NaN              NaN              NaN
         3               NaN              NaN              NaN

             Lifetime Db (s)  Lifetime Lr (s)
Lab      ID
GSI      1               NaN              NaN
         2               NaN              NaN
         3               NaN              NaN
         4               NaN              NaN
         5               NaN              NaN
         6               NaN              NaN
         7               NaN              NaN
Dubna    1               NaN              NaN
         2               NaN              NaN
         3               NaN              NaN
         4               NaN              NaN
Berkeley 1               NaN              NaN
         2               NaN              NaN
         3               NaN              NaN

Removing all columns with only `NaN`.

In [6]:
df_short = df_short.dropna(axis=1, how='all')
df_short

             Lifetime E115 (s)  Lifetime E113 (s)  Lifetime Rg (s)
Lab      ID
GSI      1              0.2270             0.3780              NaN
         2              0.0645             0.3660              NaN
         3              0.2610             1.1500           0.3430
         4              1.4600             0.0262           0.4320
         5              0.3450             0.3690          14.4000
         6              0.2100             1.0500           8.2700
         7              0.8150             2.3300           2.8900
Dubna    1              0.2562             1.4027           1.9775
         2              0.0661             1.5500           2.3638
         3              2.3507            22.5822          60.1855
         4              0.0536             0.4671           0.0908
Berkeley 1              0.2140             1.5400           7.5700
         2              0.0591             0.8240              NaN
         3              0.0455             0.0142              NaN

For comparison, let's store two data frames, one with the complete set of _Short_ E115 chains and one excluding Dubna 3.

In [7]:
l_df_short = [df_short, df_short.drop(('Dubna', '3'))]

## Motivation - Do all decay chains in a set have a common origin?

# Schmidt tests on the set of short E115 decay chains

## The Schmidt test

Around the turn of the millenium [Schmidt et.al](https://link.springer.com/article/10.1007/s100500070129) suggested a new approach on how to assess decay chains. 

In the, so called _Schmidt test_, the logarithm of the lifetimes $\theta = \ln t$ and the expected value of its standard deviation ($\sigma_\theta$) of one decay step is considered instead. 
The fundamental principle of the test is that in this case the shape of the probability density distribution and in continuation the expected value of the standard deviation is independent of the decay constant $\lambda$ of the radioactive species in study.

For an infinite number of events, i.e. measured life times, analytically the expected value of the standard deviation is; $\sigma_\theta = 1.28 \pm 2.15 \cdot \sqrt{m}$ where $m$ is the number of events.

The interpretation of the obtained standard deviation is as follows: 
* A too large value indicates that the set of life times do not originate from one single radioactive species.
* A too small value indicates a lack of sensitivity in the measurements or that the data is unjustly pruned.

If the _short_ chains of E115 is considered then we arrive at the following values for the Schmidt test:

In [8]:
Schmidt = np.nanstd(np.log(l_df_short[0]), axis=0)
col_names = []
[col_names.append("Step "+str(i+1)) for i in range(len(Schmidt))]
Schmidt = dict(zip(col_names, Schmidt))
df_Schmidt = pd.DataFrame(data=Schmidt, index=["Experimental Schmidt value"], columns=col_names)
df_Schmidt

                              Step 1   Step 2    Step 3
Experimental Schmidt value  1.204459  1.75037  1.842351

Through Monte-Carlo simulations the distribution of this standard deviation could be obtained as a function of the number of events measured. 
[Schmidt et.al](https://link.springer.com/article/10.1007/s100500070129) (Table 1) presents expected values and 90% confidence intervals for $\sigma_\theta$ for a variety of number of events $m$. 

Let's add these to the table above.

In [9]:
Schmidt_conf = [[1.19, 1.19, 1.16], ["[0.73, 1.77]", "[0.73, 1.77]", "[0.65, 1.82]"]]
df_Schmidt.append(pd.DataFrame(data=Schmidt_conf, index=["Expected value of $\sigma_θ$", "90% confidence interval"], columns=col_names))

                                    Step 1        Step 2        Step 3
Experimental Schmidt value         1.20446       1.75037       1.84235
Expected value of $\sigma_θ$          1.19          1.19          1.16
90% confidence interval       [0.73, 1.77]  [0.73, 1.77]  [0.65, 1.82]

The Schmidt values from the experimental data does fit in the 90% confidence interval and thus it is justified to draw the conclusion that the data originates from only one radioactive species.

## Generalised Schmidt test

The Schmidt method is limited to one decay step at a time and hence not all data available is considered. If all steps of the decay chains have common origins a stricter test would be to group all steps of each chain together. This cannot be done by an arithmetic average since that would not make a difference. 

A generalisation of the Schmidt test was proposed in [D. Rudolph et al., EPJ Web of Conferences](https://www.epj-conferences.org/articles/epjconf/pdf/2016/12/epjconf_nn2016_01001.pdf) and thoroughly described in [Ulrika Forsberg's PhD thesis](http://portal.research.lu.se/portal/files/7495513/thesis.pdf). 

Assume that $m$ chains have been observed and that each chain $i$ contains $n_i$ decay steps. Let $\theta_{i_j}$ be the logarithm of the $j$:th lifetime in chain $i$. Then the measure: 

\begin{equation}
\xi_{m, n} = \sqrt[2]{\frac{\sum\limits_{i=1}^m \sqrt[n_i]{\prod\limits_{j=1}^{n_i} \left( \theta_{i_j} - \bar{\theta_j} \right)^2  }  }{m}}, \bar{\theta_j} = \frac{ \sum\limits_{i=1}^m \theta_{i_j} } {m}
\end{equation}

HOW TO ENLARGEN EQUATION?

does incorporate correlation times along decay chains instead of between single decay steps within a set of chains.

## The generalised Schmidt method applied

To calculate the geometrical mean in an array with `NaN` values the following (non-generic) function is defined.

In [10]:
def g_nan_mean(data):
    if len(np.shape(data)) == 1:
        return data
    ret = np.empty(np.shape(data)[0])
    for i in range(np.shape(data)[0]):
        temp = 1
        steps = 0
        for j in range(np.shape(data)[1]):
            if isinstance(data, pd.DataFrame) and ~np.isnan(data.iloc[i,j]):
                temp *= data.iloc[i,j]
            elif not isinstance(data, pd.DataFrame) and ~np.isnan(data[i,j]):
                temp *= data[i,j]
            else:
                break
            steps += 1
        ret[i] = temp**(1./steps)
    return ret

In [11]:
gen_Schmidt = []
for dfs in l_df_short:
    theta = np.log(dfs)
    theta_var = np.square(theta - np.nanmean(theta, axis=0))
    gen_Schmidt_temp = g_nan_mean(theta_var)
    gen_Schmidt.append(np.sqrt(np.mean(gen_Schmidt_temp)))

col_names = ["E115 Short chains", "Dubna 3 Excl."]
df_gen_Schmidt = dict(zip(col_names, gen_Schmidt))
df_gen_Schmidt = pd.DataFrame(data=df_gen_Schmidt, index=["Experimental Generalised Schmidt value"], columns=col_names)
df_gen_Schmidt

                                        E115 Short chains  Dubna 3 Excl.
Experimental Generalised Schmidt value           1.302724       1.032047

### Simulation of expected values and confidence intervals

Via Monte-Carlo simulations the expected value and its confidence intervals can be obtained for the generalised Schmidt method. 10 000 sets of decay chains with the same structure as the experimental set extracted above. Each decay step is  simulated from an exponential distribution with an arbitrary decay constant $\lambda = 1$. Following this the exact same calculations are made as above. For completeness a different number of steps $n$ are included. 4 out of the 14 short chains only have two decay steps and to see the effect another index $l$ is introduced which represents the number of chains which have only two decay steps.

In [12]:
sim_names = ["$m=14$, $n=1$", "$m=14$, $n=2$", "$m=14$, $n=3$", "$m=14$, $n=1$, $l=4$", "Excl. D3"]
nbr_sets = 10000
df_temp = np.zeros(np.shape(l_df_short[0]))
l_df_sim = [df_temp[:,0], df_temp[:,0:2], df_temp, l_df_short[0], l_df_short[1]]

sim_Schmidt = np.empty((nbr_sets, len(sim_names)))

for i, df_sim in enumerate(l_df_sim):
    print("Set: ", i, sim_names[i])
    shape = (nbr_sets, *np.shape(df_sim))
    sim = np.random.exponential(scale=1, size=shape)
    if np.count_nonzero(np.isnan(df_sim)) > 0:
        for j in range(nbr_sets):
            sim[j][np.isnan(df_sim)] = np.nan
    theta = np.log(sim)
    theta_var = np.zeros(np.shape(theta))
    temp_Schmidt = np.zeros(np.shape(theta)[0:2])
    for j in range(nbr_sets):
        theta_var[j] = np.square(theta[j] - np.nanmean(theta[j], axis=0))
        temp_Schmidt[j] = g_nan_mean(theta_var[j])
    sim_Schmidt[:, i] = np.sqrt(np.mean(temp_Schmidt, axis=1))

sim_final_Schmidt = np.mean(sim_Schmidt, axis=0)
print(sim_final_Schmidt)
print("Done")

Set:  0 $m=14$, $n=1$
Set:  1 $m=14$, $n=2$
Set:  2 $m=14$, $n=3$
Set:  3 $m=14$, $n=1$, $l=4$
Set:  4 Excl. D3
[ 1.19628425  0.93443247  0.83788804  0.86031063  0.8599963 ]
Done

What follows is an illustration of the effect of the generalised Schmidt method.

In [13]:
%matplotlib notebook
colors = plt.rcParams['axes.prop_cycle'].by_key()['color'];
plt.figure()
for i, l in enumerate(sim_names[0:-1]):
    plt.hist(sim_Schmidt[:,i], bins=100, color=colors[i], label=l, histtype='step', normed=True)
plt.legend(loc='best',markerfirst=True, frameon=True,shadow=True,fancybox=True)
plt.xlabel(r"$\xi_{m,n,l}$")
plt.xlim((0.3,2.5))
plt.ylabel("Intensity")
plt.show()

The more steps that are included (larger $n$) the smaller the distribution of $\xi_{m,n,l}$ becomes. Note that the blue curve corresponds to the standard Schmidt test. 

HOW TO ADD AS CAPTION?

## Summary Generalised Schmidt Method

Consider the _Short_ E115 chains and the set with the _Dubna 3_ chain excluded and including the simulated expected value and confidence interval.

In [14]:
s_gen_Schmidt = []
s_conf_int = "[{:1.2f}, {:1.2f}]"
s_gen_Schmidt.append(sim_final_Schmidt[3:])
s_gen_Schmidt.append([s_conf_int.format(np.percentile(sim_Schmidt[:,3], 5), np.percentile(sim_Schmidt[:,3], 95)), 
                     s_conf_int.format(np.percentile(sim_Schmidt[:,4], 5), np.percentile(sim_Schmidt[:,4], 95))])

#["["+str(np.percentile(sim_Schmidt[:,3], 5))+", "+str(np.percentile(sim_Schmidt[:,3], 95))+"]"] ]
#s_gen_Schmidt.[ [sim_final_Schmidt[4]], ["["+str(np.percentile(sim_Schmidt[:,4], 5))+", "+str(np.percentile(sim_Schmidt[:,4], 95))+"]"] ]
df_gen_Schmidt.append(pd.DataFrame(data=s_gen_Schmidt, index=[r"Expected value of $\xi_{m,n,l}$", "90% confidence interval"], columns=df_gen_Schmidt.columns))

                                       E115 Short chains Dubna 3 Excl.
Experimental Generalised Schmidt value           1.30272       1.03205
Expected value of $\xi_{m,n,l}$                 0.860311      0.859996
90% confidence interval                     [0.63, 1.13]  [0.61, 1.15]

The complete set _E115 Short chains_ can be found outside the 90% confidence interval. As stated in [D. Rudolph et al., EPJ Web of Conferences](https://www.epj-conferences.org/articles/epjconf/pdf/2016/12/epjconf_nn2016_01001.pdf) : "Therefore, it is very unlikely that it is a mistake to conclude that not all chains originate from the same radioactive species". 

If the _Dubna 3_ chain is excluded from the set $\xi_{m,n,l}$ fits well within the limits obtained from the simulation. In the article exclusions of different chains are throughly examined.

#